@media (min-width: 1368px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    animation: fadeIn 0.7s;
  }

  .overlay {
    background-color: #ffffff;
  }

  .hamburger-menu {
    display: none;
  }

  #nav {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    background: var(--standard-negative, #171717);
    flex-shrink: 0;
    padding: 20px;
    z-index: 4;
  }

  #logo {
    width: 46px;
    height: 47px;
    margin-right: 15px;
    flex-shrink: 0;
    cursor: pointer;
  }

  #title {
    color: #fff;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-right: 50px;
    white-space: nowrap;
  }

  #title2 {
    display: none;
  }

  .navcontainer {
    justify-content: center;
    position: relative;
    width: auto;
  }

  .navcontent {
    color: #fff;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    z-index: 4;
    position: relative;
    height: 70px; /* Set the height to 100% */
    display: flex; /* Use flex display to fill the full height */
    align-items: center; /* Vertically center the text within .navcontent */
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
  }

  .navcontent:hover {
    background-color: rgb(255, 255, 255);
    color: #171717;
  }

  .navcontainer:hover .dropdown {
    display: block;
  }

  .navcontainer:hover .navcontent #arrow2,
  .dropdown:hover ~ .navcontainer .navcontent #arrow2 {
    transform: rotate(180deg);
    transition: filter 0s, transform 0.3s;
  }

  .navcontent:hover #arrow2 {
    filter: invert(1);
    transform: rotate(180deg);
    transition: 0.3s;
  }

  .navcontent #arrow2 {
    transform: rotate(0deg);
    transition: filter 0s, transform 0.3s;
  }

  .navcontent:hover + .dropdown {
    display: block;
  }

  .dropdown {
    display: none;
    position: absolute;
    transform: translateX(-50%, -50%);
    background: var(--standard-negative, #171717);
    z-index: 3;
    flex-shrink: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden; /* Hide content overflow */
    transition: max-height 0.3s ease-in-out;
    width: 100%;
    justify-content: center;
    opacity: 1; /* Initially set the opacity to 0 */
    animation: fadeIn 0.3s ease;
  }

  @keyframes drop {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
  }

  ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: Avenir;
  }

  ul li a:hover {
    background-color: rgb(255, 255, 255);
    color: #171717;
    animation: side 0.3s ease;
  }

  #donate {
    width: 170px;
    height: 45px;
    border-radius: 5px;
    background: var(--standard-aware, #006766);
    color: #fff;
    text-align: center;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: 0px;
    cursor: pointer;
  }

  #donate:hover {
    background: var(--standard-aware, #ffffff);
    color: var(--standard-aware, #006766);
    transition: 0.3s ease;
  }

  #navgroup {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    flex-shrink: 0;
    justify-content: center;
    width: auto;
  }

  #arrow2 {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  #container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #banner {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 900px;
    background-image: url("./assets/image-4-bg.png");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the container */
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    box-sizing: border-box;
  }

  #banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.521));
    pointer-events: none;
    z-index: 1;
  }

  #nurture {
    color: #fff;
    text-align: center;
    font-family: Avenir;
    font-size: 60px;
    font-style: normal;
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1150px;
    max-width: 90%;
  }

  #line {
    width: 400px;
    height: 8px;
    background: var(--standard-produce, #6ecfce);
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  #describ {
    color: #fff;
    width: 900px;
    max-width: 90%;
    text-align: center;
    font-family: Avenir;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    line-height: normal;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 2;
    flex-direction: column;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    color: #717171;
  }

  .active,
  .dot:hover {
    background-color: #717171;
    transition: 0.3s ease;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  #announce {
    box-sizing: border-box;
    width: 1000px;
    max-width: 90%;
    height: auto;
    flex-shrink: 0;
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: var(--standard-aware, #7da5a4);
    box-shadow: 0 0px 50px 10px rgba(0, 0, 0, 0.4);
    z-index: 2;
    margin-top: 900px;
  }

  .announcement {
    display: none;
    text-align: center;
    color: #fff;
    font-family: Avenir;
    font-style: normal;
    font-weight: 600;
  }

  #weekly {
    color: #fff;
    text-align: center;
    font-family: Adobe Garamond Pro;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  #news {
    color: #fff;
    text-align: center;
    font-family: Adobe Garamond Pro;
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    width: 80%;
  }

  .carousel {
    flex: 0 0 100%;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the text horizontally */
    display: flex;
    flex-direction: column;
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease; /* Add a transition for smooth sliding */
  }

  .carousel-container {
    width: auto; /* Set the width of your carousel container */
    overflow: hidden;
  }

  #learn {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: var(--standard-aware, #7da5a4);
    border: 5px solid var(--standard-positive, #fff);
    color: var(--standard-aware, #fff);
    text-align: center;
    padding: 20px 30px;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  #learn:hover {
    background: var(--standard-aware, #fff);
    color: var(--standard-aware, #7da5a4);
    transition: 0.3s ease;
    border-radius: 15px;
  }

  .dot {
    width: 15px;
    height: 15px;
    border: solid 3px #dfdfdf;
    box-sizing: border-box;
    border-radius: 50px;
    flex-shrink: 0;
    margin-right: 10px;
    cursor: pointer;
  }

  .circle {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
  }

  .active {
    background-color: #dfdfdf;
    transition: 0.3s ease;
  }

  #frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #parent {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
  }

  #parent2 {
    display: none;
  }

  #item_0 {
    font-size: 65px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 450px;
    font-family: "Avenir";
    font-weight: bold;
    color: rgba(23, 23, 23, 1);
    background-color: #fafafa;
    padding-bottom: 100px;
  }

  .programs {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
  }

  .programs2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
  }

  .programs,
  .programs2 {
    transition: transform 0.7s, opacity 0.7s; /* Add a smooth transition effect */
  }

  .animated {
    animation: fadeIn 1s ease forwards;
  }

  .pic {
    width: 405px;
    height: 295px;
  }

  .programtitle {
    font-size: 30px;
    width: auto;
    font-family: "Avenir";
    font-weight: Bold;
    color: rgba(23, 23, 23, 1);
    margin-top: 30px;
  }

  .programcontent {
    font-size: 20px;
    width: 350px;
    font-family: "Avenir";
    color: rgba(23, 23, 23, 1);
    margin-top: 25px;
  }

  .learnmore {
    font-size: 18px;
    width: auto;
    font-family: "Avenir";
    font-weight: Medium;
    color: rgb(13, 170, 175);
    margin-top: 50px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .learnmore:hover {
    color: rgb(236, 129, 6);
    transition: 0.3s ease;
  }

  #whatoffer {
    margin-bottom: 150px;
    font-size: 65px;
  }

  .offers {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px;
  }

  .offers2 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 200px;
  }

  .offers3 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .learning {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: transform 0.7s, opacity 0.7s;
  }

  .offertitle {
    color: #171717;
    font-family: Avenir;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line2 {
    width: 200px;
    height: 8px;
    background: var(--standard-produce, #6ecfce);
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .offerdes {
    color: #171717;
    font-family: Avenir;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    width: 700px;
    max-width: 90%;
    margin-bottom: 40px;
  }

  .offerlearn {
    margin-top: 40px;
    width: auto;
    padding: 25px;
    height: auto;
    border-radius: 5px;
    background: var(--standard-aware, #006766);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--standard-positive, #fff);
    text-align: center;
    font-family: Avenir;
    font-size: 35px;
    font-weight: 900;
    border: 0px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .offerlearn:hover {
    background: var(--standard-aware, #ffffff);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--standard-positive, #006766);
    transition: 0.3s ease;
  }

  .offerimageparent {
    width: 434px;
    height: 434px;
    border-radius: 434px;
    margin-right: 300px;
    position: relative;
    background: #e0efef;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .offerimageparent2 {
    width: 434px;
    height: 434px;
    border-radius: 434px;
    margin-left: 300px;
    position: relative;
    background: #e0efef;
    justify-content: center;
    align-items: center;
    display: flex;
    order: 2;
  }

  .offerimageparent3 {
    width: 434px;
    height: 434px;
    border-radius: 434px;
    position: relative;
    margin-right: 300px;
    flex-direction: column;
    background: #e0efef;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .offerimage {
    width: 234px;
    height: 234px;
    opacity: 0;
    transition: opacity 2s;
  }

  .offerimage2 {
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 2s;
  }

  .quotecontainer {
    width: 100%;
    height: 100%;
    background: var(--standard-aware, #7da5a4);
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .quote {
    color: #ffffff;
    text-align: center;
    font-family: Avenir;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90%;
    opacity: 0;
    transition: opacity 2s;
  }

  .quoteby {
    margin-top: 30px;
    margin-bottom: 50px;
    color: #ffffff;
    text-align: center;
    font-family: Avenir;
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    opacity: 0;
    transition: opacity 2s;
  }

  .quotebutton {
    width: auto;
    padding: 20px;
    height: auto;
    border-radius: 15px;
    border: 7px solid var(--standard-positive, #fff);
    background: var(--standard-aware, #7da5a4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--standard-aware, #fff);
    text-align: center;
    font-family: Avenir;
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
    align-items: center;
    opacity: 0;
    transition: opacity 2s;
  }

  .quotebutton:hover {
    background: var(--standard-aware, #ffffff);
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
    color: var(--standard-positive, #7da5a4);
    transition: 0.3s ease;
  }

  .reviewcontainer {
    width: 100%;
    height: 650px;
    background: var(--standard-aware, #f5f5f5);
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  .reviewtitle {
    color: #171717;
    text-align: center;
    font-family: Avenir;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    width: 90%;
  }

  .review {
    animation: scroll 60s linear infinite;
    display: flex;
    width: calc(510px * 7);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-510px * 7));
    }
  }

  .reviewimage {
    margin-top: 55px;
    width: 470px;
    height: 430px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .subscontainer {
    width: 100%;
    height: 100%;
    color: #000;
    font-family: Avenir;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fff;
  }

  .substitle {
    color: #040404;
    text-align: center;
    font-family: Avenir;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 40px;
    width: 95%;
  }

  .subssubtitle {
    color: #040404;
    text-align: center;
    font-family: Avenir;
    font-size: 50px;
    font-style: normal;
    font-weight: 350;
    margin-bottom: 40px;
    width: 90%;
  }

  .subs {
    width: 400px;
    height: 60px;
    border-radius: 5px;
    border: 5px solid #cfcfcf;
    background: #fff;
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: Avenir;
  }

  .subsbutton {
    margin-top: 30px;
    width: auto;
    height: auto;
    border-radius: 5px;
    background: var(--standard-aware, #006766);
    color: #fff;
    text-align: center;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: 0px;
    cursor: pointer;
    padding: 25px 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .subsbutton:hover {
    background: var(--standard-aware, #ffffff);
    color: var(--standard-aware, #006766);
    transition: 0.3s ease;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
  }

  .footerparent {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
  }

  .footercontainer {
    width: 100%;
    height: auto;
    background: var(--standard-aware, #2e2d2d);
    color: #ffffff;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .footertitle {
    color: #ffffffa6;
    font-family: Avenir;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
  }

  .footerpages {
    display: flex;
    font-size: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 1;
    margin-top: 10px;
    color: #ffffff5e;
  }

  .footerbottom {
    width: 100%;
    height: auto;
    background: var(--standard-aware, #171717);
    color: #ffffffc0;
    display: flex;
    flex-direction: column;
    font-family: Avenir;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #line3 {
    width: 2px;
    height: 241px;
    background: #ffffff6c;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    margin-left: 50px;
  }

  #address {
    color: #ffffffa6;
    font-family: Avenir;
    font-size: 20px;
    margin-top: 30px;
  }

  .footerlink {
    color: #ffffff5e;
  }

  .footerlink:hover {
    color: #ffffffab;
    transition: 0.3s ease;
  }

  
}

